body {
    background-color: #432832;
      font-family: "Krub", sans-serif;
      zoom: 80%
    }

.navbar {
  background: #162029;  color: white;
  padding: 15px 40px; display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  right: 40px;
  left: 40px;
  top: 30px;
  border-radius: 15px;
  z-index: 9999;
   font-family: "Rubik", sans-serif;
   font-size: 20px;
}

a {
    text-decoration: none;
    color: white; 
    font-weight: 400; 
    transition: 0.3s;
     }
a:hover {
    color:#cfcfcf;
     transform: scale(1.02)
    }
.wrapper {
    border: 3px dashed #363c27; 
    border-radius: 10px; 
    margin: 100px; 
	margin-top: 100px; 
    padding: 25px; 
    color: #162029;
    display: flex; 
    gap: 40px;
    padding-right: 180px; 
}

.experience {
    justify-content: left;
    padding: 20px;
    background: #4b3f38;
    border-radius: 10px;
    border: 3px dashed #363c27;
    height: 600px;
    margin-top: 0px;
    margin-left: 100px;
    width: 58%;
    overflow: hidden;
    margin-bottom: 35px;
    padding-right: 100px;
}

.video-container {
    display: flex;
    gap: 15px;
    overflow-x: auto;
    align-items: center;
    height: auto;
    width: 100%;
    overflow: hidden;
    margin-top: 0;
    margin-left: 30px;
    
}

.video-player p {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    padding: 10px;
}

.container {
    margin-left: 30px;
    width: fit-content;
    margin-top: 30px;
}
.container1 {
   text-align: center;
   padding: 0;
}

.bar {
    flex: 0 0 auto;
    flex-basis: 140px;
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
    transition: flex-basis 0.5s ease;
    width: 200px;
    position: relative;
}

.bar:hover {
    flex-basis: 250px;
}
.bar video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%) brightness(0.85);
    transition: filter 0.5s ease, transform 0.5s ease;
    pointer-events: none;
    border-radius: 10px;
}
.bar:hover video {
    filter: none;
    transform: scale(1.05);
}

.bar p
{
    position: absolute;
    bottom: 10px;
    left: 10%;
    color: #f3f2ef;
    font-size: 18px;
    font-weight: 600;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: 1;
}

.bar:hover p {
    opacity: 1;
}

.More {
    padding: 10px;
    height: 600px;;
    margin-right: 0;
    justify-content: left;
    margin-top: 25px;
    margin-left: 130px;
    overflow: visible;
    margin-top: -25px;
}

.links {
    align-items: center;
    height: auto;
    width: 100%;
    overflow: hidden;
    padding: 30px;
    margin-top: -12px;
    
}
.box {
    height: auto;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s ease;
    width: 190px;
    border: 2px dashed #363c27;
    align-items: center;
    padding: 10px;
    background-color: #4b3f38;
    padding-bottom: 15px;
    text-align: center; 
}

.img-box {
    aspect-ratio: 4/3;
    overflow: hidden;
    border-radius: 10px;
}

.img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s ease;
    filter: grayscale(100%) brightness(0.9);
}

.box p {
    font-size: 18px;
    font-weight: 600;
    color: #f3f2ef;
}

.box:hover {
    transform: scale(1.02);
}
.box:hover img {
    filter: none;
}
.bth a p {
    font-size: 18px;
    font-weight: 600;
    color: #f3f2ef;
    text-align: center;
    text-decoration: underline;
    margin-right: 10px;
}

.wrapper2 {
    display: flex;
    width: 100%;
    background: linear-gradient(to bottom, #000000, #432832);
    margin-top: 0;
    padding-top: 20px;
}

.bth {
    display: flex;
    text-align: center;
    margin-top: 20px;
    margin-left: 40px;
   
}
.topic {
    text-align: center;
    margin: 0;
    padding-bottom: 5px;
    display: flex;
   background: linear-gradient(to top, #000000, #432832);
}

.topicvid {
    filter: grayscale(100%) brightness(0.7) blur(2px);
     aspect-ratio: 3/4;
     width: 600px;
     margin-top: 50px;
     margin-left: 60px;
  
}

.abouttopic {
    margin-left: 50px;
   margin-top: 100px;
}
.head {
    margin-top: 30px;
    text-align: left;
}

.overlay {
    position: absolute;
    margin-top: 450px ;
    left: 29%;
    transform: translate(-50%, -50%);
    width: 570px;
    height: auto;
    z-index: 3;
    filter: brightness(0.7);
    transition: 0.3s ease;
}


.overlay:hover {
    filter: none;
}

.head {
    margin-top: 10px;
    margin-left: -40px
}
.head h1 {
    color: #f3f2ef;
    z-index: 1;
    margin-left: 20px;
    margin-top: 2px;
    font-family: "Caprasimo", serif;
    font-size: 130px;
    font-weight: 400;
    text-shadow: 8px 8px 0px #f3f2ef86;
    line-height: 0.65;
    letter-spacing:-2px;
}

.abouttopic p{
    font-size: 18px;
    font-weight: 600;
    color: #f3f2ef;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: left;
    margin-right: 100px;
    margin-top: -20px;
    padding-left: 50px ;
}

.video-container{
    overflow: hidden;
    align-items: center;
    height: auto;
    width: 100%;
    overflow: hidden;
    height: auto;
    
}

